#form-user{
	
	
	
	/*Visual*/
/* 	background: ; */

	background: url("/Static/images/backgrounds/MetalGrey.jpg");
/* 	background-size: 1300px; */

/* 	background-color: azure; */
	border: 2px solid #999;
	border-radius: 4px;
/* 	display: ; */

	/*Dimensions and Spacing*/
/* 	margin: ; */ /* Handled by the calling style sheet */
/* 	margin-top: ; */ /* Handled by the calling style sheet */
/* 	padding: ; */
/* 	overflow: ; */
	height: 300px;
	width: 300px;
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */

	/*Positioning*/
/* 	position: relative; */
/* 	top: ; */
/* 	left: left; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: ;  */
/* 	clear: ; */

	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
/* 	color: ; */
/* 	line-height: ; */
/* 	text-align: ; */
	}

#form-user-top{
	/*Visual*/
/* 	background: ; */
/* 	background-image: ; */
/* 	background-color: blue; */
/* 	border: ; */
/* 	border-radius: ; */
/* 	display: ; */

	/*Dimensions and Spacing*/
/* 	margin: ; */
/* 	padding: ; */
	padding-top: 30px;
/* 	overflow: ; */
	height: 170px;
/* 	width: ; */
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */

	/*Positioning*/
/* 	position: ; */
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: ;          */
/* 	clear: ; */

	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
/* 	color: ; */
/* 	line-height: ; */
/* 	text-align: ; */
	}

.form-user-field-container{
	/*Visual*/
/* 	background: ; */
/* 	background-image: ; */
/* 	background-color: aqua; */
/* 	border: ; */
/* 	border-radius: ; */
/* 	display: ; */

	/*Dimensions and Spacing*/
	margin: auto;
	margin-top: 20px;
/* 	margin-left: 3px; */
/* 	padding: 20px; */
/* 	padding-top: ; */
/* 	overflow: ; */
	height: 20px;
	width: 290px;
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */

	/*Positioning*/
/* 	position: ; */
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: left; */
/* 	clear: ; */

	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
/* 	color: ; */
/* 	line-height: ; */
/* 	text-align: ; */
}

label{
	/*Visual*/
/* 	background: ; */
/* 	background-image: ; */
/* 	background-color: ; */
/* 	border: ; */
/* 	border-radius: ; */
/* 	display: ; */

	/*Dimensions and Spacing*/
/* 	margin: ; */
/* 	margin-top: 20px; */
	padding: ;
/* 	overflow: ; */
/* 	height: 15px; */
	width: 90px;
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */

	/*Positioning*/
/* 	position: ; */
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
	float: left;          
/* 	clear: ; */

	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
/* 	color: ; */
/* 	line-height: ; */
/* 	text-align: ; */

}

input{
	/* New */
/* 	box-sizing: ; */
	
	/*Visual*/
/* 	background: ; */
/* 	background-image: ; */
/* 	background-color: ; */
/* 	border: ; */
/* 	border-radius: ; */
	display: block;

	/*Dimensions and Spacing*/
	margin: auto;
/* 	margin-top: 20px; */
/* 	padding: ; */
/* 	overflow: ; */
/* 	height: 15px; */
/* 	width: ; */
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */

	/*Positioning*/
/* 	position: ; */
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: ;           */
/* 	clear: ; */


	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
/* 	color: ; */
/* 	line-height: ; */
/* 	text-align: ; */

	}

#form-user-bottom{

	/*Visual*/
	background: ;
	background-image: ;
/* 	background-color: blueviolet; */
	border: ;
	border-radius: ;
	display: ;

	/*Dimensions and Spacing*/
	margin: ;
	padding: ;
	overflow: ;
	height: 100px;
	width: 300px;
	min-height: ;
	min-width: ;
	z-index: ;

	/*Positioning*/
	position: absolute;
	top: ;
	left: ;
	right: ;
	bottom: ;
	float: ;          
	clear: ;

	/*Text*/
	font: ;
	font-size: ;
	color: ;
	line-height: ;
	text-align: ;
}

#form-user-error-msg{
	/*Visual*/
/* 	background: aqua; */
/* 	background-image: ; */
/* 	background-color: ; */
/* 	border: ; */
/* 	border-radius: ; */
/* 	display: ; */
	
	/*Dimensions and Spacing*/
	margin: 10px;
/* 	padding: ; */
/* 	overflow: ; */
	height: 50px;
	width: 280px;
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */
	
	/*Positioning*/
	position: absolute;
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: ; */
/* 	clear: ; */
	
	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
	font-weight: normal;
	text-shadow:.3px .3px #ff0000;
/* 	color: crimson; */
/* 	line-height: ; */
	text-align: center;
}

#form-user-success-msg{
	/*Visual*/
/* 	background: aqua; */
/* 	background-image: ; */
/* 	background-color: ; */
/* 	border: ; */
/* 	border-radius: ; */
/* 	display: ; */
	
	/*Dimensions and Spacing*/
	margin: 10px;
/* 	padding: ; */
/* 	overflow: ; */
	height: 50px;
	width: 280px;
/* 	min-height: ; */
/* 	min-width: ; */
/* 	z-index: ; */
	
	/*Positioning*/
	position: absolute;
/* 	top: ; */
/* 	left: ; */
/* 	right: ; */
/* 	bottom: ; */
/* 	float: ; */
/* 	clear: ; */
	
	/*Text*/
/* 	font: ; */
/* 	font-size: ; */
	font-weight: normal;
/* 	text-shadow: ; */
/* 	color: crimson; */
/* 	line-height: ; */
	text-align: center;
}

#form-user-button{
	/*Visual*/
	background: ;
	background-image: ;
	background-color: ;
/* 	border: 2px groove #999; */
/* 	border-radius: 2px; */
	display: ;

	/*Dimensions and Spacing*/
	margin: ;
/* 	margin-top: 30px; */
/* 	margin-right: 40px; */
	padding: ;
	overflow: ;
	height: 30px;
	width: 100px;;
	min-height: ;
	min-width: ;
	z-index: ;

	/*Positioning*/
	position: absolute;
	top: ;
	left: ;
	right: 20px;
	bottom: 20px;
/* 	float: right;          */
	clear: ;

	/*Text*/
	font: ;
	font-size: ;
	color: ;
	line-height: ;
	text-align: ;
}

/*Override default.css*/

#form-user-button:active{
	position: absolute;
	top: ;
	bottom: 19px;
}