USE [Argiope]
GO
/****** Object:  Index [ROLE]    Script Date: 7/2/2017 1:11:02 PM ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[static].[role]') AND name = N'ROLE')
DROP INDEX [ROLE] ON [static].[role]
GO
/****** Object:  Table [static].[role]    Script Date: 7/2/2017 1:11:02 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[static].[role]') AND type in (N'U'))
DROP TABLE [static].[role]
GO
/****** Object:  Table [static].[role]    Script Date: 7/2/2017 1:11:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[static].[role]') AND type in (N'U'))
BEGIN
CREATE TABLE [static].[role](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](30) NOT NULL,
	[description] [varchar](255) NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ROLE]    Script Date: 7/2/2017 1:11:02 PM ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[static].[role]') AND name = N'ROLE')
CREATE UNIQUE NONCLUSTERED INDEX [ROLE] ON [static].[role]
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
