USE [master]
GO
/****** Object:  Database [Argiope]    Script Date: 7/2/2017 1:18:38 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Argiope')
DROP DATABASE [Argiope]
GO
/****** Object:  Database [Argiope]    Script Date: 7/2/2017 1:18:38 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Argiope')
BEGIN
CREATE DATABASE [Argiope]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Argiope', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Argiope.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Argiope_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Argiope_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Argiope].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Argiope]
GO
GRANT CONNECT TO [ArgiopeApp] AS [dbo]
GO
USE [master]
GO
